

.block-TopBar {
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: gray;
    width: 76rem;
    box-shadow: rgba(75, 46, 240, 0.4) 0px 5px, rgba(75, 46, 170, 0.3) 0px 10px, rgba(75, 46, 170, 0.2) 0px 15px, rgba(75, 46, 170, 0.1) 0px 20px, rgba(75, 46, 170, 0.05) 0px 25px;
}

.leftmove {
    display: flex;
    flex-direction: row;
    width: 15rem;
    height: 100%;
}

.text {
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
